<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kudoku</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
</head>
<style>

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 50rem;
    margin: 2rem 2rem 0 2rem;
}
form {
    margin-top: 2rem;
}

table {
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
    margin-top: 2rem;
}

.sudoku {
}

colgroup, tbody {
    border: solid medium;
}

td {
    border: solid thin;
    height: 1.4em;
    width: 1.4em;
    text-align: center;
    padding: 0;
}
</style>
<body>
<h2>Welcome!</h2>
<p>
    Please input your Sudoku and hit 'Solve'
</p>
<p>
    Input the your Sudoku as a string from left-to-right and
    top-to-bottom (like you would read a book!).
</p>
<p>
    Use 'x' for missing values.
</p>
<p>
    E.g. for the example Sudoku below, you would input:
</p>
<code>1x36x47x9x2xx9xx1x7xxxxxxx62x4x3x9x8xxxxxxxxx5xx9x7xx16xxx5xxx2xxxx7xxxx9xx8x2xx5</code>

<form action="/solve" enctype='multipart/form-data' method="post">
    <label for="sudoku">Your Sudoku:</label><br />
    <input type="text" id="sudoku" name="sudoku" size="90" maxlength="81"
           value="1x36x47x9x2xx9xx1x7xxxxxxx62x4x3x9x8xxxxxxxxx5xx9x7xx16xxx5xxx2xxxx7xxxx9xx8x2xx5">
    <input type="submit" value="Solve">
</form>

<div class="sudoku">
    <table>
        <caption>Sudoku illustration</caption>
        <colgroup><col><col><col></colgroup>
        <colgroup><col><col><col></colgroup>
        <colgroup><col><col><col></colgroup>
        <tbody>
        <tr> <td>1 <td>  <td>3 <td>6 <td>  <td>4 <td>7 <td>  <td>9
        <tr> <td>  <td>2 <td>  <td>  <td>9 <td>  <td>  <td>1 <td>
        <tr> <td>7 <td>  <td>  <td>  <td>  <td>  <td>  <td>  <td>6
        <tbody>
        <tr> <td>2 <td>  <td>4 <td>  <td>3 <td>  <td>9 <td>  <td>8
        <tr> <td>  <td>  <td>  <td>  <td>  <td>  <td>  <td>  <td>
        <tr> <td>5 <td>  <td>  <td>9 <td>  <td>7 <td>  <td>  <td>1
        <tbody>
        <tr> <td>6 <td>  <td>  <td>  <td>5 <td>  <td>  <td>  <td>2
        <tr> <td>  <td>  <td>  <td>  <td>7 <td>  <td>  <td>  <td>
        <tr> <td>9 <td>  <td>  <td>8 <td>  <td>2 <td>  <td>  <td>5
    </table>
</div>

<p><small>
    PS: I know this is a terrible interface. Hopefully I will find time
    to improve it in the future.
</small></p>

</body>
</html>